# PostgreSQL credentials
DB_PASSWORD=yourpassword
DB_USER=postgres
DB_NAME=CloudStorageDb

# JWT Settings
JWT_KEY=ThisIsASuperSecretKeyThatShouldBeLongEnoughForHS256Algorithm
JWT_ISSUER=CloudStorageApi
JWT_AUDIENCE=CloudStorageClients

# MinIO credentials
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET_NAME=cloudstorage-chunks

# RabbitMQ credentials
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Grafana admin credentials
GRAFANA_ADMIN_PASSWORD=admin
